
.DS_Store
.idea/
.vscode/
.vs/
cmake-build-debug/
bin/
build/
out/
CMakeSettings.json
_deps/
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
CS100_FinalProject
*.a
CS100_FinalProject_tests
.cmake/
build.ninja
